*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

/* @media (min-width: 768px){ */
body{
    transition: 0.5s;
    font-family: Merriweather, serif;
    overflow-x: hidden;
    background-color: #ebf2ff;
}
.navbar{
    position: sticky;
    top: 0%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    z-index: 999;
}
img{
    width: 100%;
}
div{
    display: block;
}
.logo{
    width: 80px;
    margin: 0px 50px;
}
img{
    width: 100%;
}
.btn{
    padding: 10px;
}



.button{
    margin: 0 50px;
    font-size: 1rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 4px;
    border: none;
    padding: 10px 24px;
    color: white;
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
}
.content{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 20px;
    padding: 0 15px;
}
section{
    margin: 4rem 0;
}
.tinphotos{
    width: 100%;
    position: relative;
}
/* section div img{
    width: 450px; */
/* } */
.container{
    padding: auto;
    margin: 0px 15rem;
    height: 100%;
}
.image1{
    width: 100%;
    right: auto;
    left: auto;
    position: absolute;
    z-index: 2;
    margin-top: 2rem;
}
#image2{
    position: absolute;
    z-index: 1;
}
#text{
    font-size: 2.875rem;
    line-height: 2.9rem;
    color: #1d3557;;
    font-weight: 900;
}
.paragraph{
    color: #1d3557;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4;
}
#button2{
   margin: 1.5rem 0; 
}


.video{
    
    text-align: center;
}
.player{
    margin-top: 3rem ;

}
.vtext{
    margin: 1rem 0;
    font-weight: 100;
    font-size: 1.25rem;
    color: #1d3557;
}
.diagonal{
    position: absolute;
    height: 100%;
    width:100%;
    left: 0%;
    right: 0%;
    transform: skewY(-5deg);
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
    z-index: -5;

}
.list_food{
    position: relative;
}
.explore{
    text-align: center;
    
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 100%; */
    padding: 5rem 0 ;
    
    
}
.cards{
    flex-basis: 30%; 
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);

    }
.card2{
    margin-top: -1rem;
    margin-bottom: 1rem;
}
.img1{
    background-color: white;
    border-radius: 6px 6px 0 0;
} 

.details{
    position: relative;
    /* display: none; */
    margin: -4px 0;
    background-color: white;
    transition: width 2s linear 1s;
    border-radius: 0 0 6px 6px;
    padding: 1rem;
}

.textof{
    font-weight: 900;
    font-size: 3rem;
    line-height: 1;
    color: #1d3557;   
}

.restaurants{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 7rem;
       
}
.images_rest{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 6px;
    
}
.images_rest2{
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    gap: 6px;
}
.first1, .first2 {
    border-radius: 3px;
    margin-bottom: 3px;
}
.first3, .first4{
    border-radius: 6px;
    margin-top: 3px;
}


.first1{
    width: 250px;
    height: 180px;

}
.first3{
    width: 250px;
    height: 180px;

}
.first2{
    width: 300px;
    height: 260px;
}
.first4{
    width: 300px;
    height: 260px;
}
.title{
    color: #1d3557;
    font-size: 2rem;
    font-weight: 900;
}
.footings{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color:#1d3557 ;
}
.input{
    text-align:center;
}
.inp{
    border: 1px solid #ee89a0;
    background-color: #fcedf0;
    color: #1d3557;
    margin: 0%;
    padding: .75rem 3rem;
}
.backimage{
    background: url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80) center center / cover ;
    position: relative;
    text-align: center;
    border-radius: 1rem;
    margin: 3rem 0;
    height: 300px;
    z-index: 1;
}
.overlay{
    border-radius: 1rem;
   top: 0px;
   left: 0;
   opacity: 49%;
    background-color: #0a4065;
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: 2;
}
.quote_text{
    margin: 0 1rem;
    margin-top:7rem;;
    position: absolute;
    color: #fff;
    z-index: 3;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}
.foot{
    padding: rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
    border-radius: 2rem 2rem 0 0;
}
footer > img{
    width: 300px;
    filter: brightness(0) invert(1);
}
footer ul{
    line-height: 1.9rem;
    list-style-type: none;
    color: white;
}
.btn :hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease;
}
.logo :hover{
    transform: scale(1.15);
    transform: rotate(+360deg);
    transition: 1s ease;
    cursor: pointer;
}

.items :hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: .25s ease;
}
.images_rest :hover{
    cursor: pointer;
    padding-bottom: 10px;
    transition: .25s ease;

}
.images_rest2 :hover{
    cursor: pointer;
    padding-top: 10px;
    transition: .25s ease;

}
